.tableDarkTheme {
  background-color: #191919;
  color: #F5F5F5;
}

.tableHeaderCell {
  padding: 8px 8px 8px 8px;
}

.tableDataCell {
  padding: 8px 8px 8px 8px;
}

.tablePagination {
  padding: 8px 8px 8px 8px;
}
